In [1]:
# Fuctional Programming 

def make_twice(func,arg):
...    return func(func(arg))
...
def add_five(x):
    return x+5
...
...
print(make_twice(add_five,10))

IndentationError: expected an indented block (335313592.py, line 4)

In [3]:
>>> def make_twice(func, arg):
...     return func(func(arg))
...
>>> def add_five(x):
...     return x + 5
...
>>> print(make_twice(add_five, 10))

>>>

20

In [4]:
>>> def make_twice(func, arg):
...     return func(arg)
...
>>> def add_five(x):
...     return x + 5
...
>>> print(make_twice(add_five, 10))

>>>

15

20

In [5]:
#Pure function 

>>> def my_pure_function(a,b):
...     c = (2 * a) + (2 * b)
...     return c
...
>>> my_pure_function(5,10)
30

SyntaxError: invalid syntax (2642620572.py, line 3)

In [ ]:
00

In [6]:
>>> def my_pure_function(a,b):
...     c = (2 * a) + (2 * b)
...     return c
...
>>> my_pure_function(5,10)
30

30

In [11]:
>>> my_list = []
>>> def my_impure_function(arg):
...     my_list.append(arg)
...
>>> my_impure_function(10)
>>> print(my_list)

[10]

In [13]:
>>> my_list = []
>>> def my_impure_function(arg):
...     my_list.append(arg)
...
>>> my_impure_function(20)
>>> print(my_list)

[20]

In [14]:
#####Lambda #Anonymous


>>> def my_function(func, arg):
...     return func(arg)
...
>>> print(my_function(lambda x: 2 * x, 5))
10

10

10

In [15]:
>>> print((lambda x,y: x + 2 * y)(2,3))
8

8

8

In [17]:
>>> print((lambda x,y: x + 2 * y)(2,3))

8

In [18]:
>>> print((lambda x: x*x)(2,2))

16

In [19]:
# map and filter 


def make_double(x):
    return x * 2

my_marks = [10,12,20,30]

result = map(make_double,my_marks)

print(list(result))

[20, 24, 40, 60]

In [22]:
def md(x):
    return x*x

ml=[10,20,30]

re=map(md,ml)
hgfghcvb 
print(list(re))

[100, 400, 900]

In [33]:
def is_even(x):
    if x%2==0:
        return
    else:
        return

num=[1,2,3,45,66,8]

result1=filter(is_even,num)
result2=filter(is_even,num)

print(list(result1))
print(list(result2))

[]
[]

In [34]:
>>> def is_even(x):
...     return x % 2 == 0
...
>>> my_numbers = [1,2,3,4,5,6]
>>> result = filter(is_even, my_numbers)
>>> print(list(result))
[2, 4, 6]

[2, 4, 6]

[2, 4, 6]

In [38]:
Lambda Review

nums=[10,20,25,30,5]

res1=list(filter(lambda x: x%2==0,nums))
res2=list(filter(lambda x: x%2==1,nums))

print(res1)
print(res2)

[10, 20, 30]
[25, 5]

In [51]:
####Generator

def my_iterable():
    i=5
    while i>0:
        yield i
        i-=1

for i in my_iterable():
    print(i)

5
4
3
2
1

In [50]:


def even_num(x):
    for i in range(x):
        if i%2==0:
            yield i
        
even_num_list= list(even_num(100))

print(even_num_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [4]:
# Decorate 

def my_decorate(func):
    def decorate():
        print("------------------------")
        func()
        print("-------------")
    return decorate

def print_raw():
    print("Clear Text")
    
decorate_function = my_decorate(print_raw)

decorate_function()

------------------------
Clear Text
-------------

In [9]:
@my_decorate
def print_text():
    print("hello world")

print_text()

------------------------
hello world
-------------

In [14]:
# Recursion
def fac(x):
    if x==1:
        return 1
    else:
        return x * fac(x-1)
    
print(fac(3))

6

In [16]:
def factorial(x):
    return x * factorial(x-1)

print(factorial(5))

RecursionError: maximum recursion depth exceeded

In [20]:
def is_even(x):
    if x == 0:
        return True
    else:
        return is_odd(x-1)

def is_odd(x):
    return not is_even(x)


print(is_odd(17))
print(is_even(23))

True
False

In [21]:
###########Set
num_set = {1, 2, 3, 4, 5}
word_set = set(["spam", "eggs", "sausage"])

print(3 in num_set)
print("spam" not in word_set)

True
False

In [22]:
# Has some duplicate eliments such as 1
nums = {1, 2, 1, 3, 1, 4, 5, 6}
print(nums)

# To add an eliment to the set
nums.add(-7)

# To remove an element to the set
nums.remove(3)
print(nums)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6, -7}

In [23]:
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)
print(first & second)
print(first - second)
print(second - first)
print(first ^ second)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

In [25]:
from itertools import count 
for i in count(3):
    print(i)
    if i>=15:
        break

3
4
5
6
7
8
9
10
11
12
13
14
15

In [26]:
from itertools import accumulate

my_numbers = [1, 2, 3, 4, 5, 6]

accumulated_numbers = accumulate(my_numbers)

list_of_accu_nums = list(accumulated_numbers)

print(list_of_accu_nums)

[1, 3, 6, 10, 15, 21]

In [27]:
from itertools import takewhile

my_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums_less_equal_six = takewhile(lambda x: x <= 6, my_numbers)

filtered_numbers = list(nums_less_equal_six)

print(filtered_numbers)

[1, 2, 3, 4, 5, 6]

In [30]:
from itertools import takewhile

mynum= [1,2,3,4,5,6]


num_less_equal_six = takewhile(lambda x: x>=4,mynum)


filtered_numbers= list(nums_less_equal_six)

print(filtered_numbers)

[]

In [31]:
from itertools import product, permutations

letters = ("A", "B")
print(list(product(letters, range(2))))
print(list(permutations(letters)))

[('A', 0), ('A', 1), ('B', 0), ('B', 1)]
[('A', 'B'), ('B', 'A')]